<div class="container">

    <div class="sidebar">
        <span style="writing-mode:vertical-rl; color: black; font-size: 10rem; transform: rotate(-180deg)"><h1>SIDEBAR</h1></span>
        <!-- <nav>
            <ul>
                <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
                <li><a routerLink="/authors" routerLinkActive="active">Authors</a></li>
            </ul>
        </nav> -->
    </div>

    <div class="main">
        <app-search-options></app-search-options>
        <app-courses-view></app-courses-view>
    </div>
</div>