<div class="search-options-container">
    <form>
        <select class="department-selector" 
                name="department-selector"
                [(ngModel)]="selectedDepartment" 
                (ngModelChange)="onChoseDpt($event)">
            <option *ngFor="let department of allDepartments"
                    [value]="department" 
                    [disabled]="department === selectedDepartment">
                {{ department }}
            </option>
        </select>
    </form>
</div>
