<div class="search-options-container">
    <form>
        <select class="department-selector" 
                name="department-selector"
                [(ngModel)]="selectedDepartment" 
                (ngModelChange)="onChoseDpt($event)">
            <option [value]="selectedDepartment" selected disabled>{{ selectedDepartment }}</option>
            <option value="CSE">CSE</option>
            <option value="MTH">MTH</option>
            <option value="PHY">PHY</option>
            <option value="PSY">PSY</option>
        </select>
    </form>
</div>
